<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Розничный калькулятор Тома</title>
  </head>
  <body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



    <br><br>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <br/><br/><br/><br/><br/><br/>


        </div>
        <div class="col-sm">

            <h2><span class="badge badge-primary">Розничный калькулятор Тома</span></h2>
            <br>

            <form action="/" method="get">
              <div class="form-group">
                <label for="goodsNumberId">Количество товаров</label>
                <input type="text" class="form-control" id="goodsNumberId" name="goodsNumber"
                       placeholder="Введите количество товаров" value="{{goods_number}}">
              </div>
              <div class="form-group">
                <label for="piecePriceId">Цена</label>
                <input type="text" class="form-control" id="piecePriceId" name="piecePrice" placeholder="Укажите цену товара" value="{{piece_price}}">
              </div>
              <div class="form-group">
                <label for="stateCodeId">Код штата</label>
                <input type="text" class="form-control" id="stateCodeId" name="stateCode" placeholder="Укажите код штата" value="{{state_code}}">
                <small id="stateHelp" class="form-text text-muted">От Вашего штата зависит налоговая ставка</small>
              </div>
              <button type="submit" class="btn btn-primary" style="width:100%;">Рассчитать</button>
            </form>
            <br/><br/>
            <h3><span class="badge badge-danger">{{error_label}}</span></h3>
            <h3><span class="badge badge-primary">{{price_with_discount_label}}</span></h3>
            <h3><span class="badge badge-primary">{{price_final_label}}</span></h3>
        </div>
        <div class="col-sm"></div>
      </div>
    </div>

  </body>



</html>


